* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #151313;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}
.container {
  padding: 0px 20px;
  max-width: 1200px;
  margin: 90px auto;
}
header {
  background: #151313;
  border-bottom: 1px solid #2f2f2f;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.avatar {
  border-radius: 100%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-display {
  display: flex;
  align-items: center;
  gap: 20px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.money {
  font-size: 13px;
  color: rgb(28, 176, 28);
  font-weight: 700;
}

.home-link {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.steam-png {
  width: 20px;
  height: 20px;
}

.login {
  display: flex;
  padding: 10px;
  gap: 14px;
  border-radius: 2px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    118deg,
    rgb(3, 0, 53) 77%,
    rgb(12, 12, 12) 100%,
    rgb(4, 45, 84) 100%,
    rgb(31, 31, 31) 100%,
    rgb(15, 15, 141) 100%
  );
  align-items: center;
  font-weight: 400;
  animation: fadeIn 0.5s ease-in-out;
}

.login:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    118deg,
    rgb(7, 3, 90) 77%,
    rgb(15, 14, 14) 100%,
    rgb(2, 61, 116) 100%,
    rgb(0, 0, 0) 100%,
    rgb(3, 3, 71) 100%
  );
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.login-p {
  padding: 0;
  margin: 0;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}
.profile-money {
  font-size: 18px;
  color: rgb(28, 176, 28);
  font-weight: 700;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "first second"
    "third second";
  grid-template-columns: 1fr 2fr; /* Adjust column sizes */
  grid-template-rows: auto 80dvh; /* First row height adjusts to content, second row has fixed height */
  grid-gap: 10px; /* Spacing between grid items */
}

.first {
  background: #1c1b1b;
  border-radius: 5px;
  padding: 15px;
  height: fit-content;
  grid-area: first;
}

.second {
  background: #1c1b1b;
  border-radius: 5px;
  padding: 15px;
  height: 70dvh;
  grid-area: second;
}

.third {
  background: #1c1b1b;
  border-radius: 5px;
  padding: 15px;
  height: max-content;
  grid-area: third;
}
.profile-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 18px;
  font-weight: bold;
}
.profile-text {
  font-size: 18px;
  font-weight: bold;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #ababab;
}
.mb-5 {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 72%;
  background-color: #2f2f2f;
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  outline: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.save {
  display: inline-block;
  background-color: rgb(70, 87, 156);
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
button {
  display: inline-block;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.save:hover {
  background-color: rgb(61, 81, 161);
}
.find-trade-url {
  font-size: 13px;
  font-weight: bold;
  color: #818181;
}
.find-trade-url:hover {
  text-decoration: underline;
}
.error {
  margin-top: 3px;
  font-size: 14px;
  color: rgb(215, 39, 39);
}
.success {
  margin-top: 3px;
  font-size: 14px;
  color: rgb(20, 187, 20);
}
.profile-steam {
  width: 100%;
  background: #131313;
  padding: 13px;
  border-radius: 2px;
}
.profile-steam:hover {
  background: #0f0f0f;
}

.hero-container {
  position: relative;
  border-radius: 5px;
  background-image: linear-gradient(to right, #141313 0%, #190a51 100%);
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna para que el texto esté arriba */
  align-items: flex-end; /* Alinea todo a la derecha */
  width: 100%; /* Ajusta el ancho */
  overflow: hidden;
  padding: 20px; /* Espaciado interno */
}

.text-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea el contenido a la derecha */
}

.text-container {
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  text-align: right;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px; /* Espacio entre el texto y las imágenes */
}

.img-mp,
.img-st {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.img-mp {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.img-st {
  width: 80px;
  height: 80px;
}

.agent {
  position: absolute;
  bottom: 0; /* Asegura que el agente esté en la parte inferior */
  left: 0;
  width: auto;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}
.agent::-webkit-media-controls {
  display: none !important;
}

.deposit-cash {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background: #0c9cda;
  padding: 10px;
}
.mercadopago {
  width: 22px;
  height: 22px;
}
.deposit-skins {
  margin-top: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background: #0c3896;
  padding: 10px;
}

.mt-5 {
  margin-top: 25px;
}
.deposit-ipt {
  width: 100%;
  margin-bottom: 10px;
}
