* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #56524d hsla(0, 0%, 100%, 0);
  scrollbar-width: thin;
}

body {
  background: #302e2a;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}
.container {
  padding: 0px 20px;
  max-width: 1200px;
  margin: 90px auto;
}
header {
  background: #21201e;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.avatar {
  border-radius: 100%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-display {
  display: flex;
  align-items: center;
  gap: 20px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.money {
  font-size: 13px;
  color: rgb(28, 176, 28);
  font-weight: 700;
}

.home-link {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.steam-png {
  width: 20px;
  height: 20px;
}

.login {
  display: flex;
  padding: 10px;
  gap: 14px;
  border-radius: 5px;
  background-color: #f5c71b;
  color: #3b2600;
  font-size: 14px;
  font-weight: bold;
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.profile-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}
.profile-money {
  font-size: 18px;
  color: rgb(28, 176, 28);
  font-weight: 700;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "first second"
    "third second";
  grid-template-columns: 1fr 2fr; /* Adjust column sizes */
  grid-template-rows: auto 80dvh; /* First row height adjusts to content, second row has fixed height */
  grid-gap: 10px; /* Spacing between grid items */
}

.first {
  background-color: rgba(63, 60, 56, 0.4);
  border-radius: 5px;
  padding: 15px;
  height: fit-content;
  grid-area: first;
}

.second {
  background-color: rgba(63, 60, 56, 0.4);
  border-radius: 5px;
  padding: 15px;
  height: 70dvh;
  grid-area: second;
}

.third {
  background-color: rgba(63, 60, 56, 0.4);
  border-radius: 5px;
  padding: 15px;
  height: max-content;
  grid-area: third;
}
.profile-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
button {
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
label {
  font-size: 18px;
  font-weight: bold;
}
.profile-text {
  font-size: 18px;
  font-weight: bold;
}
.nav-link {
  color: #aea89b;
  font-weight: 500;
}
.nav-link:hover {
  color: white;
}
.nav-link.active {
  color: #ffcc00; /* Cambia el color del enlace activo */
  font-weight: bold; /* Opcional: resaltar el texto */
}
.mb-5 {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  width: 72%;
  background-color: #3f3c38;
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  outline: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.save {
  display: inline-block;
  background-color: #cc9f08;
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: #3b2600;
  outline: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.2s;
}
.save:hover {
  background-color: #f5c71b;
}
.find-trade-url {
  font-size: 13px;
  font-weight: bold;
  color: #818181;
}
.find-trade-url:hover {
  text-decoration: underline;
}
.error {
  margin-top: 3px;
  font-size: 14px;
  color: rgb(215, 39, 39);
}
.success {
  margin-top: 3px;
  font-size: 14px;
  color: rgb(134, 230, 10);
}
.profile-steam {
  width: 100%;
  background-color: #f5c71b;
  color: #21201e;
  font-weight: bold;
  padding: 13px;
  border-radius: 2px;
}
.profile-steam:hover {
  background: #cc9f08;
}
.profile-text {
  font-size: 30px;
}

.text-container {
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  text-align: right;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px; /* Espacio entre el texto y las imágenes */
}

.img-mp,
.img-st {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.img-mp {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.img-st {
  width: 80px;
  height: 80px;
}

.agent {
  position: absolute;
  bottom: 0; /* Asegura que el agente esté en la parte inferior */
  left: 0;
  width: auto;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}
.agent::-webkit-media-controls {
  display: none !important;
}

.deposit-cash {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: #f5c71b;
  padding: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.user-id {
  font-weight: bold;
  color: #958e8e;
}
.deposit-cash:hover {
  background: #cc9f08;
}
.mercadopago {
  width: 22px;
  height: 22px;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 25px;
}
.add-money-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #3f3c38;
}
.add-balance-header {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #f5c71b;
}
.fa-plus {
  color: black;
}
.money-header {
  font-size: 15px;
}
.fa-wallet {
  color: #f5c71b;
  font-size: 14px;
}
.mt-5 {
  margin-top: 25px;
}
.deposit-ipt {
  width: 100%;
  margin-bottom: 10px;
}
.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: solid 1px #393838;
  padding: 5px;
}
.select-profile {
  background: none;
  color: #737373;
  font-weight: bold;
  transition-duration: 0.2s;
}
.select-profile:hover {
  color: white;
}
.separetor {
  color: #4a4949;
}
.inventory-wrapper {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 60dvh;
}

.skin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background: #3f3c38;
}

.skin-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}
.skin-p {
  filter: drop-shadow(0 0 10px rgba(44, 41, 41, 0.4));
  background-color: #171515;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  color: #c5bdbd;
}
