<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container">
      <div class="hero-container">
        <h1 class="text-container">VENDE, COMPRA Y RETIRA EFECTIVO O SKINS</h1>
        <img class="agent" src="/img/agent_one.png" />
      </div>
    </main>
  </body>
</html>
