<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <title>CSVITE</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container">
      <div class="hero-container">
        <div class="text-wrapper">
          <h1 class="text-container">
            ¡Vende, Compra y Retira Skins y Efectivo Fácilmente!
          </h1>
          <div class="flex">
            <img
              class="img-mp"
              src="/img/mercadopago-hero.webp"
              alt="Mercado Pago"
            />
            <img class="img-st" src="/img/steam-hero.png" alt="Steam" />
          </div>
        </div>
        <video
          class="agent"
          src="/assets/agent.webm"
          loop
          autoplay
          playsinline
          muted
        ></video>
      </div>
    </main>
  </body>
</html>
