<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <title>CSVITE</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container"></main>
  </body>
</html>
