<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <title>CSVITE - Skins</title>
  </head>
  <body>
    <%- include("../partials/header") %>
    <div class="container">skins</div>
  </body>
</html>
